
:root {
    font-size: 18px;
}

body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 30px;
    color: rgb(112, 112, 121);
    background: rgb(170, 126, 126)
}

h2 {
    font-size: 1.2rem;
}

p {
    margin-bottom: 0;
    margin-left: 0.5rem;
}

i {
    color: #224;
    position: relative;
    top: 5px;
}

.card {
    max-width: 300px;
    min-height: 200px;
    max-width: 500px;
    padding: 35px;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
}

.card-body {
    margin-left: 1rem;
}

/* Estilos para el botón "Add Contact" */
.btn-success {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-success:hover {
    background-color: #218838;
}



.add-contact-button:hover {
    background-color: #218838;
}
